<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--CSS Styles -->
    <link rel="stylesheet" href="app.component.css" />


    <title>BoomBox</title>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <header class ="TITLE">BoomBox</header>
<!--
    <button class="button">SIGN UP</button>
    <button class="button">LOGIN</button>
    <button class="button">MORE INFO</button>-->
  <form action="/login" method="post">
  <input type="submit" name="action" value="SIGN UP">
  <input type="submit" name="action" value="LOGIN">
  <input type="submit" name="action" value="MORE INFO">
  </form>
    <!--<button class="button">FEET PICS</button>-->
</nav>

<label class="header"></label>

<div id="form">

    <form action="" method="post" name="registration" class="register">

        <label for="Username"> Username: </label>
        <input name="Username" />


</div>

        <label for="Password"> Password: </label>
        <input name="Password" type="password" />
      <button mat-raised-button type = "submit" class="login-button">Login</button>
    </form>
</div>

<!--<input type="submit" value="Login"> -->


<!-- More about -->

<!-- Skills section -->

<!-- Projects section -->

<!-- Contact section -->

<!-- Social accounts - Fixed to the right -->

<!-- Scroll to top -->

<!-- Footer section -->

<!-- Website scripts -->
<script src="assets/js/app.js"></script>

<!-- Ion icons scripts -->
<script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
</body>
</html>
