<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--CSS Styles -->
    <link rel="stylesheet" href="./app.component.css" />


    <title>BoomBox</title>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
      <header class ="TITLE">BoomBox</header>

      <form action="/login" method="post">
        <input type="submit" class="navButton" name="action" value="Home">
        <input type="submit" class="navButton" name="action" value="Sign up">
        <input type="submit" class="navButton" name="action" value="Login">
      </form>
      <!--<button class="button">FEET PICS</button>-->
    </nav>

    <label class="header"></label>

    
    <!-- Login Section -->
    <form action="action_page.php" method="post">
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit">Sign Up</button> 
      </div>
    
    </form>
    <!-- Skills section -->

    <!-- Projects section -->

    <!-- Contact section -->

    <!-- Social accounts - Fixed to the right -->

    <!-- Scroll to top -->

    <!-- Footer section -->

    <!-- Website scripts -->
    
    <!--
    <script src="assets/js/app.js"></script>

    //Ion icons scripts
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    -->

  </body>

</html>
