<div class="profile-container">
    <div class="profile-row">
      <div class="profile-label">Name:</div>
      <input class="profile-input" [(ngModel)]="user.name" />
    </div>
    <div class="profile-row">
      <div class="profile-label">Email:</div>
      <input class="profile-input" [(ngModel)]="user.email" />
    </div>
    <div class="profile-row">
      <div class="profile-label">Age:</div>
      <input class="profile-input" [(ngModel)]="user.age" type="number" />
    </div>
    <div class="profile-row">
      <div class="profile-label">Favorite Song:</div>
      <input class="profile-input" [(ngModel)]="user.song" />
    </div>
  </div>
  