<!DOCTYPE html>
<html lang="en">
  <head>
    <!--CSS Styles -->
    <link rel="stylesheet" href="./home.component.css" />

  </head>

  <body>
    <!-- Navbar -->

    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
      <header class ="TITLE">BoomBox</header>

      <router-outlet>
        <li>
          <a class="navButton" [routerLink]="'/home'">Home</a>
          <a class="navButton" [routerLink]="'/login'">Login</a>
          <a class="navButton" [routerLink]="'/signup'">Signup</a>
        </li>
      </router-outlet>
    </nav>


    <textarea> Welcome to BoomBox!</textarea>

  </body>

</html>
