<!-- <!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="./home.component.css" />

  </head>

    <textarea> Welcome to BoomBox!</textarea>

</html> -->

<section class="hero">
  <div class="hero-content">
    <h1>Welcome to My Website</h1>
    <p>Introducing our mission and purpose here</p>
  </div>
</section>

<div class="container">

  <section class="features">
    <div class="feature">
      <i class="fas fa-book"></i>
      <h3>Welcome to BoomBox!</h3>
      <p>Are you tired of your current playlists, and want some fresh new music to listen to? Maybe you heard a new song or album recently and are dying to share your opinion on it? Or maybe you just want to see what your friends are listening to nowadays? If so, BoomBox is the perfect site for you! Simply make a free account, and you can rate your favorite songs, browse top hits, and so much more!</p>
    </div>
  </section>
</div>
